.layout {
    display: flex;
    min-height: 100vh; 
  
    .content {
      margin-left: 230px; 
      padding: 20px;
      width: calc(100% - 250px);
      background-color: #f8f9fa; 
      min-height: 100vh; 
    }
  }
  